mlflow
langchain
langchain-core
langchain-community
pymupdf
langchain-text-splitters
langchain-huggingface
faiss-cpu
sentence-transformers
langchain-ollama
ollama
litellm
deepeval
fastapi
streamlit
redis
python-multipart

-e .